<header class="bg-light">
    <div class="bg-left"></div>
    <div class="bg-picture container my-container h-100">
      <div class="row align-items-center">
        <div class="col">
        <div *ngIf="!editMode; else editBlock">
          <h1 class="display-4 text mt-4 mb-2">
              <a routerLink="/">{{ me.first_name }} {{ me.last_name }}</a>
            <button *ngIf="! auth.preview" type="button" class="btn btn-dark" (click)="editMode = !editMode"><i class="fa fa-edit"></i></button>
          </h1>
          <a routerLink="/"><p class="lead mb-4 text-50">{{ me.position }}</p></a>
        </div>
        <ng-template #editBlock>
          <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4 mb-4" style="height: 105px">
                  <div class="form-row mb-2">
                    <div class="col-4">
                      <input type="text" formControlName="first_name" class="form-control form-control-lg" placeholder="First name">
                    </div>
                    <div class="col-4">
                      <input type="text" formControlName="last_name" class="form-control form-control-lg" placeholder="Last name">
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="col-4">
                        <input type="text" formControlName="position" class="form-control" placeholder="Position">
                      </div>
                      <div class="col-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark" (click)="onCancel()"><i class="fa fa-times"></i> Cancel</button>
                            <button type="submit" class="btn btn-dark" [disabled]="form.invalid"><i class="fa fa-save"></i> Save</button>
                        </div>                          
                      </div>
                    </div>
                
            <!-- <h1 class="display-4 text mb-2"> -->
              <!-- <div class="form-group">
                  <input type="text" class="form-control mr-2" placeholder="First name"> 
                  <input type="text" class="form-control mr-2" placeholder="Last name">
                  
              </div>
              <div>
                  <input type="text" class="form-control mr-2" placeholder="Position"> 
              </div>
                 -->
              <!-- </h1> -->
              <!-- <p class="lead text-50 clearfix"><input type="text" class="form-control"></p> -->
            </form>
        </ng-template>
      </div>
      </div>
    </div>
    <div class="bg-right"></div>
  </header>


<!-- <header class="bg-primary mb-5">
  <div class="bg-left"></div>
  <div class="bg-picture container my-container h-100 py-5">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text mt-5 mb-2">
          <span *ngIf="icon"><i class="{{ icon }}"></i></span>
          {{ title }}
        </h1>
        <p class="lead mb-5 text-50">{{ subtitle }}</p>
      </div>
    </div>
  </div>
  <div class="bg-right"></div>
</header> -->
