<app-messages></app-messages>

<div class="container">
  <app-keywords-select></app-keywords-select>
  <div class="row mb-5">
    <div class="col">
      <app-section-header>
        <span>
          <h1>Research</h1>
        </span>
        <app-crud-buttons object="paper" [mode]="mode" (modeSelect)="modeSelect($event)"></app-crud-buttons>
      </app-section-header>

      <div *ngIf="mode == 'create'" class="mt-1">
        <h3 class="mb-2 mt-3">New paper</h3>
        <app-paper (edit)="onEdit($event)" [mode]="mode" [edittedId]="edittedId" new></app-paper>
      </div>

      <div>
        <h3 class="mb-2 mt-3">Publications</h3>
        <div *ngIf="mode != 'sort'; else sortBlock2">
          <div *ngFor="let paper of papers2" class="mt-1">
            <app-paper (edit)="onEdit($event)" [paper]="paper" [mode]="mode" [edittedId]="edittedId"></app-paper>
          </div>
        </div>

        <ng-template #sortBlock2>
          <bs-sortable [(ngModel)]="papers2" [itemTemplate]="itemTemplate" itemClass="sortable-item mt-1"
            itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle"
            wrapperClass="sortable-wrapper list-group">
          </bs-sortable>
        </ng-template>
      </div>

      <div>
        <h3 class="mb-2 mt-3">Working papers</h3>
        <div *ngIf="mode != 'sort'; else sortBlock1">
          <div *ngFor="let paper of papers1" class="mt-1">
            <app-paper (edit)="onEdit($event)" [paper]="paper" [mode]="mode" [edittedId]="edittedId"></app-paper>
          </div>
        </div>

        <ng-template #sortBlock1>
          <bs-sortable [(ngModel)]="papers1" [itemTemplate]="itemTemplate" itemClass="sortable-item mt-1"
            itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle"
            wrapperClass="sortable-wrapper list-group">
          </bs-sortable>
        </ng-template>
      </div>

      <div>
        <h3 class="mb-2 mt-3">In progress</h3>
        <div *ngIf="mode != 'sort'; else sortBlock0">
          <div *ngFor="let paper of papers0" class="mt-1">
            <app-paper (edit)="onEdit($event)" [paper]="paper" [mode]="mode" [edittedId]="edittedId"></app-paper>
          </div>
        </div>

        <ng-template #sortBlock0>
          <bs-sortable [(ngModel)]="papers0" [itemTemplate]="itemTemplate" itemClass="sortable-item mt-1"
            itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle"
            wrapperClass="sortable-wrapper list-group">
          </bs-sortable>
        </ng-template>
      </div>

    </div>
  </div>
</div>

<!-- LONE BLOCK -->

<ng-template #itemTemplate let-item="item" let-index="index">
  <app-paper (edit)="onEdit($event)" [paper]="item.value" [mode]="mode"
    [edittedId]="edittedId">
  </app-paper>
</ng-template>