<div *ngIf="!onboarded" class="modal fade" bsModal #staticModal="bs-modal" [config]="{ show: true }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <h2 class="display-4">Let's get started</h2>
          <form [formGroup]="form">
            <h3>Critical</h3>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email" formControlName="email" required>
              <div *ngIf="form.get('email').invalid && form.get('email').touched" class="bad-feedback">
                <div *ngIf="form.get('email').errors.required">
                  I can believe that in {{ y.getFullYear() }} you don't have an email.
                </div>
                <div *ngIf="form.get('email').errors.email">
                  Don't try to fool me, that's no email.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Password (1)</label>
              <input type="password" class="form-control" name="password1" formControlName="password1" required>
            </div>
            <div class="form-group">
              <label>Password (2)</label>
              <input type="password" class="form-control" name="password2" formControlName="password2" required>
            </div>
            <div *ngIf="form.errors" class="bad-feedback">
              <div *ngIf="form.errors.password && form.get('password1').touched && form.get('password2').touched">
                Your passwords don't match. Bummer.
              </div>
            </div>
            <div class="form-group">
              <label>Hint</label>
              <input type="text" class="form-control" name="hint" formControlName="hint" required>
              <div *ngIf="form.get('hint').invalid && form.get('hint').touched" class="bad-feedback">
                Help yourself. You'll thank me later.
              </div>
            </div>
            <h3>Useful</h3>
            <div class="form-group">
              <label>First name</label>
              <input type="text" class="form-control" name="first_name" formControlName="first_name" required>
              <div *ngIf="form.get('first_name').invalid && form.get('first_name').touched" class="bad-feedback">
                What's your good name sir?
              </div>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" name="last_name" formControlName="last_name" required>
              <div *ngIf="form.get('last_name').invalid && form.get('last_name').touched" class="bad-feedback">
                I'm sure you're a gentleman.
              </div>
            </div>
            <div class="form-group">
              <label>Position</label>
              <input type="text" class="form-control" name="position" formControlName="position" required>
              <div *ngIf="form.get('position').invalid && form.get('position').touched" class="bad-feedback">
                Good things come to those who wait. In the meantime, how are you killing time?
              </div>
            </div>
            <div class="form-group">
              <label>About</label>
              <textarea rows="6" class="form-control" name="about" formControlName="about"></textarea>
              <div *ngIf="form.get('about').invalid && form.get('about').touched" class="bad-feedback">
                I want to know more about your life.
              </div>
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea rows="4" class="form-control" name="address" formControlName="address"></textarea>
              <div *ngIf="form.get('address').invalid && form.get('address').touched" class="bad-feedback">
                And where is it that you live?
              </div>
            </div>
            <div class="form-group">
              <label>Map</label>
              <input type="text" class="form-control" name="map_url" formControlName="map_url" required>
              <div *ngIf="form.get('map_url').invalid && form.get('map_url').touched" class="bad-feedback">
                A little link for your little map please.
              </div>
            </div>
        
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]=form.invalid>Get started</button>
        
          </form>
      </div>
    </div>  
  </div>
</div>