<app-messages></app-messages>

<div class="container">
  <app-section-header>
    <span><h3>Teaching</h3></span>
    <app-crud-buttons object="course" [mode]="mode" (modeSelect)="modeSelect($event)"></app-crud-buttons>
  </app-section-header>
  <div class="row mb-3">
    <div class="col">

      <div *ngIf="mode != 'sort'; else sortBlock">
        <div *ngFor="let object of objects" class="mt-1">
          <app-course [object]="object" [mode]="mode" [edittedId]="edittedId"
            (edit)="onEdit($event)" (delete)="onDelete($event)"></app-course>
        </div>
        <div *ngIf="mode == 'create'" class="mt-1">
          <app-course [mode]="mode" [edittedId]="edittedId"
          (edit)="onEdit($event)" (delete)="onDelete($event)" new></app-course>
        </div>
      </div>

      <ng-template #sortBlock>
        <bs-sortable [(ngModel)]="objects" [itemTemplate]="itemTemplate" itemClass="sortable-item mt-1"
          itemActiveClass="sortable-item-active" placeholderItem="" placeholderClass="placeholderStyle"
          wrapperClass="sortable-wrapper list-group">
        </bs-sortable>
        <ng-template #itemTemplate let-item="item" let-index="index">
          <app-course [object]="item.value" [edittedId]="edittedId">
          </app-course>
        </ng-template>
      </ng-template>


    </div>
  </div>
</div>