<div *ngIf="editable" class="d-inline-flex">
  <bs-sortable [(ngModel)]="people" [ngModelOptions]="{standalone: true}" [itemTemplate]="personTemplate"
    itemClass="sortable-item mr-1 mb-1" itemActiveClass="sortable-item-active" placeholderItem=""
    placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper d-inline-flex" (onChange)="sortPeople($event)">
  </bs-sortable>
  <span>
    <span class="form-inline">
      <button *ngIf="(!showTypeahead) && otherPeople.length > 0" class="btn btn-primary btn-sm mr-1 mb-1"
        type="button" (click)="showTypeahead = true"><i class="fas fa-plus"></i> Add person</button>
      <input *ngIf="showTypeahead" [(ngModel)]="thisPerson" [typeahead]="otherPeopleTypeahead"
        typeaheadOptionField="full_name" (typeaheadOnSelect)="onSelect($event)" class="form-control form-control-sm">
    </span>
  </span>
</div>

<span *ngIf="!editable">
  <span *ngIf="!editable">
    <span *ngIf="people.length > 0">
      <span *ngFor="let person of people; index as i">
        <a href="{{ person.url }}" [eventTracker]='{"category":"person","action":person.url}'
          target="_blank">{{ person.first_name }} {{ person.last_name }}</a>
        <span *ngIf="people.length > 1">
          <span *ngIf="i < people.length - 2">, </span>
          <span *ngIf="i == people.length - 2"> and </span>
        </span>
      </span>
    </span>
  </span>
</span>

<ng-template #personTemplate let-item="item" let-index="index">
  <button type="button" class="btn btn-sm btn-primary">
    {{item.value.first_name}} {{item.value.last_name}}
    &nbsp;<span (click)="deletePerson(index)"><i class="fa fa-times-circle"></i></span>
  </button>
</ng-template>