<div *ngIf="!editMode; else editView">
    <a [routerLink]="['/research', keyword.slug]">
      <div class="icon">
        <i class="fa-4x {{ form.get('icon').value }}"></i>
      </div>
      <h5 class="mt-3">{{ keyword.keyword }}</h5>
    </a>
  
  <p class="text-muted">{{ keyword.description }}</p>
</div>


<ng-template #editView>
    <a href="javascript:;">
      <div class="icon"><i class="fa-4x {{form.get('icon').value}}"></i></div>
    </a>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group mt-3">
      <input class="form-control form-control-lg" type="text" name="keyword" formControlName="keyword"
        placeholder="Keyword">
      <div *ngIf="form.get('keyword').invalid && form.get('keyword').touched" class="bad-feedback">
        What's the overarching theme?
      </div>
    </div>


    <div class="form-group">
      <input class="form-control" type="text" name="description" formControlName="description"
        placeholder="Description">
      <div *ngIf="form.get('description').invalid && form.get('description').touched" class="bad-feedback">
        Add a few details.
      </div>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" name="slug" formControlName="slug"
          placeholder="Slug">
        <div *ngIf="form.get('slug').invalid && form.get('slug').touched" class="bad-feedback">
          Give our little guy a url-friendly name. 
        </div>
      </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-image"></i></span>
        </div>
        <input class="form-control"  type="text" name="icon" formControlName="icon"
        placeholder="fa fa-...">
      </div>
    </div>
    <div class="form-group">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" (click)="onCancel()">
          <i class="fa fa-times"></i> Cancel
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
    </div>
  </form>
</ng-template>


<div *ngIf="! auth.preview">
  <button *ngIf="!deleteMode" class="btn btn-dark" type="button" (click)="enableEdit()" [disabled]="disableEdit">
    <i class="fa fa-edit"></i> Edit
  </button>
  <button *ngIf="deleteMode" class="btn btn-danger btn-outline" type="button" (click)="onDelete(keyword)">
    <i class="fa fa-trash"></i>
  </button>
</div>