<div *ngIf="editable; then editBlock; else displayBlock"></div>


<ng-template #displayBlock>
  <div *ngIf="keywordsArray.length > 0" class="mb-2">
    <span *ngFor="let keyword of keywordsArray; index as i">
      <span *ngIf="test(keyword); else noMatch">
          <a routerLink="/research" class="btn btn-sm mr-1 mb-1 btn-primary">
            <i [class]="keyword.icon"></i> {{ keyword.keyword }}
          </a>
      </span>
      <ng-template #noMatch>
          <a routerLink="/research/{{ keyword.slug }}" class="btn btn-sm mr-1 mb-1 btn-outline-primary">
            <i [class]="keyword.icon"></i> {{ keyword.keyword }}
          </a>
      </ng-template>
    </span>
  </div>
</ng-template>

<ng-template #editBlock>
  <div [formGroup]="keywords" class="form-group">
    Keywords: 
    <div *ngFor="let keyword of keywordsFormArray.controls; let i=index" class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [formControl]="keywordsFormArray.controls[i]">
      <label class="form-check-label">
          <i [class]="allKeywords[i].icon"></i> {{ allKeywords[i].keyword }}
      </label>
    </div>
  </div>
</ng-template>