<div class="row mb-5">
  <div class="col">
    <h3 class="text-center">Interests</h3>
    <app-section-header>
      <app-crud-buttons object="interest" [mode]="mode" (modeSelect)="modeSelect($event)"></app-crud-buttons>
    </app-section-header>
  </div>
</div>

<div *ngIf="mode != 'sort'; else sortBlock" class="row">
  <div *ngFor="let object of objects[0].objects" class="col-lg-3 col-md-6 text-center">
    <app-keyword [object]="object" [mode]="mode" [edittedId]="edittedId"
            (edit)="onEdit($event)" (delete)="onDelete($event)"></app-keyword>
  </div>
  <div *ngIf="mode == 'create'" class="col-lg-3 col-md-6 text-center">
    <app-keyword [mode]="mode" [edittedId]="edittedId"
          (edit)="onEdit($event)" (delete)="onDelete($event)" new></app-keyword>
  </div>
</div>

<ng-template #sortBlock>
  <bs-sortable [(ngModel)]="objects[0].objects" [itemTemplate]="itemTemplate"
    itemClass="sortable-item col-lg-3 col-md-6 text-center" itemActiveClass="sortable-item-active" placeholderItem=""
    placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper row">
  </bs-sortable>
  <ng-template #itemTemplate let-item="item" let-index="index">
    <app-keyword [object]="item.value" [edittedId]="edittedId">
    </app-keyword>
  </ng-template>
</ng-template>