<app-section-header disablePreview>
  <span><h1>Files</h1></span>
  <div class="btn-group">
    <button class="btn btn-danger" (click)="deleteMode = !deleteMode">
      <i class="fa fa-trash"></i>
      <span *ngIf="deleteMode">&nbsp; Done</span>
    </button>
    <input type="file" class="d-none" multiple #fileView (change)="onFileChange($event)">
    <button class="btn btn-dark" [disabled]="deleteMode" (click)="addFiles()">
      <i class="fa fa-plus"></i>
      <span *ngIf="!deleteMode">&nbsp; Upload</span>
    </button>
  </div>
</app-section-header>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Size</th>
      <th scope="col">Date</th>
      <th *ngIf="deleteMode" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let msg of msg.fileMessages">
      <td>
        <p class="mb-1"><strong><a href="#"> {{ msg.name }} </a></strong>
          <span *ngIf="msg.message">{{ msg.message }}</span>
        </p>
        <div [ngSwitch]="msg.type">
          <div *ngSwitchCase="'progress'">
            <progressbar [value]="msg.progress" [striped]="true" animate="true">{{ msg.progress }}%</progressbar>
          </div>
          <div *ngSwitchCase="'complete'">
            <progressbar [value]="msg.progress" [striped]="true" type="success">{{ msg.progress }}%</progressbar>
          </div>
          <div *ngSwitchCase="'error'">
            <progressbar [value]="msg.progress" [striped]="true" type="danger">{{ msg.progress }}%</progressbar>
            <button *ngIf="msg.type==='error'" class="btn btn-sm btn-outline-primary mt-2">
              <i class="fa fa-times"></i> Dismiss
            </button>
          </div>
        </div>
      </td>
      <td></td>
      <td> {{ msg.size | filesize }} </td>
      <td></td>
    </tr>
    <tr *ngFor="let file of store.files | async">
      <th scope="row"> <a href="{{file.url}}" target="_blank"> {{file.name}} </a> </th>
      <td> {{file.extension}} </td>
      <td> {{file.size | filesize }}
      </td>
      <td> {{ file.date }} </td>
      <td *ngIf="deleteMode" scope="col">
        <button class="btn btn-danger btn-sm" (click)="deleteFile(file)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>